<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name product</th>
      <th>Name client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
     <% product.clients.each do |client| %>
      <tr>
        <td><%= product.name %></td>
	<td><%= client.name %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
