<form action="/page"<form action="/page" method="get" id="form1">
        <input type="text" name="Title"> <br>
</form>

<form action="/page" method="get" id="form1">
        <input type="text" name="Just Text"> <br>
</form>
        
        <button type="submit" form="nameform" value="Submit">Submit</button>
